<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>SendPulse: Member's Area</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media=screen>
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.css">
    <script src="../js/passwordIsSame.js"></script>
    <script src="../js/emailIsCorrect_InForget.js"></script>
    <link href="../css/template.css" rel="stylesheet" media=screen>
    <link href="../css/login.css" rel="stylesheet" media=screen>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="../css/spIcons.min.css" rel="stylesheet" media=screen>
    <script src="../js/static/jquery.min.js"></script>
    <!-- SendPulse AB website tests -->
</head>
<body >
<div style="position: absolute;left:0px;top:0px;width:100%;height:100%">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1502270042375&di=f054295afc124294cc794f584ff0d438&imgtype=0&src=http%3A%2F%2Fwww.pp3.cn%2Fuploads%2F201508%2F2015082608.jpg" width="100%" height=100%"/>
</div>

<div class="loginpage">
    <div class="modal">
        <div class="modal-dialog login-header">
            <a class="logo-link"  target="_blank">
                <img src="http://www.codingirls.club/assets/CGC02-c4bbb83e7831724c5d32623da38bd5c070155728b087e8985ef7cd1e1f394344.png" width="210" height="42"alt="SendPulse">
            </a>
            <div class="clearfix">&nbsp;</div>
        </div>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 style="text-align:left">Dear user:</h2>
                    <form role="form" class="form-horizontal" action="/login/" method="post">
                        <div class="form-group">
                            <h4 style="margin-top:-10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>We have send you another official email&nbsp;!&nbsp;</i><i class="fa fa-smile-o" aria-hidden="true"></i></h4>
                            <br>
                            <h4 style="margin-top:-20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Please check your inbox to restore your password</i></h4>
                            <br>
                            <h4 style="margin-top:-20px"><i>according to the hints.</i></h4>
                            <h4 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>If you don't receive our email in at once,please be</i></h4>
                            <br>
                            <h4 style="margin-top:-20px"><i>patient or click <em style="color: rgb(11,153,178)">Send it again</em> per 2min.</i><i class="fa fa-smile-o" aria-hidden="true"></i></h4>

                        </div>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputPassword1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verification Code</label>
                                <input style="width: 120px;margin-left: 20px" type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                                <button style="margin-left: 150px;margin-top: -57px;height:34px;" type="submit" class="btn btn-default btn-sm">Submit</button>
                            </div>
                        </form>
                </div>
                <script type="text/javascript">
                    //设定倒数秒数
                    var t =120
                    //显示倒数秒数
                    function showTime(){
                        document.getElementById('senditAgain').onclick="";
                        t -= 1;
                        document.getElementById('senditAgain').innerHTML="Send it again(" + t + ")"+"<i class=\"fa fa-spinner fa-pulse fa-lg fa-fw\"></i>\n" +
                            "                            <span class=\"sr-only\">Loading...</span>";
                        if(t===0){
                            location.href="./sendAnotherEmail2.html";
                        }
                        //每秒执行一次,showTime()
                        setTimeout("showTime()",1000);
                    }
                </script>
                <div class="modal-footer">
                    <p class="help-block pull-left padding-top-5">
                        <em class="small light-grey" >
                            Don't receive the email? <a id="senditAgain" class="bold" onclick="showTime()" >Send it again</a>
                        </em>
                    <p class="help-block pull-right padding-top-5">
                    <small><a href="login.html">&larr; Try to login</a></small></p>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/js/my/bootstrap.min.js"></script>
<script src="/js/my/matchMedia.js"></script>
<script src="../js/jquery.mobile.custom.min.js"></script>
<script src="../js/general.js"></script>
<script src="../js/login.js"></script>
<script src="../js/social.js"></script>
</body>
</html>
