.blackNav{
    height: 30px;
    background-color: #333;
}
.webName{
    background: url(//static.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_7554d8e.png) 0px 6px no-repeat;
    padding-top: 4px;
    padding-left: 15px;
    margin-left: 10%;
    font-size: 15px;
    width: 30%;
}
.whetherLog{
    padding-top: 4px;
    padding-left: 15px;
    font-size: 15px;
}
.login{
    color: #c4c3c3;
}
.login:hover{
    color: #fff;
}
.register{
    color: #c4c3c3;
}
.register:hover{
    color: #fff;
}
.welcome{
    color:#c4c3c3;
}
.welcome:hover{
    color: #fff;
}
div.whiteNav{
    list-style: none;
    height: 54px;
    padding-left: 12%;
    padding-right: 10%;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
li{
    list-style: none;
    margin-left: 10px;

}
a.homepageTitle{
    height: 54px;
    width: 50px;
    position: relative;
    line-height: 53px;
    color: #999;
    padding: 14px 5px;
    font-size: 20px;
    margin: 0 16px;
}
a.homepageTitle:hover{
    height: 54px;
    width: 50px;
    position: relative;
    line-height: 53px;
    color: #333;
    border-bottom: 2px solid #00b38a;
    padding: 14px 5px;
    font-size: 20px;
    margin: 0 16px;
    text-decoration: none;
}
a.alljobsTitle{
    height: 54px;
    width: 50px;
    position: relative;
    line-height: 53px;
    color: #999;
    padding: 14px 5px;
    font-size: 20px;
    margin: 0 16px;
    text-decoration: none;
}
a.alljobsTitle:hover{
    height: 54px;
    width: 50px;
    position: relative;
    line-height: 53px;
    color: #333;
    border-bottom: 2px solid #00b38a;
    padding: 14px 5px;
    font-size: 20px;
    margin: 0 16px;
    text-decoration: none;
}
a:-webkit-any-link{
    cursor: auto;
}
.info{
    background-color: #f2f2f2;
}
h4.preface {
    color: #999999;
    font-size: 18px;
    line-height: 70px;
}

h2.jobTitle{
    position:relative;
    float: left;
    height: 70px;
    margin: 0 30px 25px 40px;
    padding: 0 30px;
    line-height: 70px;
    font-size: 25px;
    background: #FFFFFF;
    color: #209b60;
    border-top: 4px solid;
}

.jobTitle:after{
    content: '';
    position: absolute;
    right: -30px;
    top: -4px;
    width: 0;
    height: 0;
    border-width: 74px 30px 0 0;
    border-style: solid;
    border-color: #e1e1e1 transparent transparent;
}
.postDate{
    float: left;
    margin: 50px 0 0 0;
    color: #999999;
}

table.basicInfo{
    margin-left: 70px;
    clear: both;
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    color: #999999;
}
table.companyInfo{
    margin-left: 10px;
    clear: both;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    color: #999999;
}
tr{
    width: 100%;
    height: 40px;
}
th{
    vertical-align: inherit;
    display: table-cell;
    width: 190px;
    text-align: center;
}

hr.style-one{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.style-two{
    width:1px;
    height:50px;
    background-color: #999999;
}
hr.style-three{
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #209b60;
    text-align: center;
}
hr.style-three:after {
    content: "相关职位";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.2em;
    padding: 0 0.25em;
    background: #f2f2f2;
}

h3.descriptionTitle{
    margin-left: 35px;
    margin-bottom: 20px;
    color: #209b60;
    font-size: 20px;
}
.companyWord{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 60px;
    color: #209b60;
    font-size: 30px;
}
div.companyAndRecommend{
    border-width: 5px 0 0 0;
    border-style: solid;
    border-color: #209b60;
}
.descriptionContent{
    margin-left: 7%;
    margin-right: 7%;
    color: #999999;
}

ul.descriptionContent li{
    list-style-type:disc;
    line-height: 2.5;
    font-size: 16px;
    word-break: break-all;
}

h3.howToApply{
    margin-left: 35px;
    margin-bottom: 20px;
    color: #209b60;
    font-size: 25px;
    width: 200px;
    height: 50px;
    text-align: left;
    line-height: 50px;
}
span.applyTitle{
    height: inherit;
    line-height: 55px;
    color: #999999;
    font-size: 18px;
}
span.applyContents{
    height: inherit;
    line-height: 0;
    color: #999999;
    font-size: 20px;
}

.companyAndRecommend{
    background-color: #f2f2f2;
    height: inherit;
}

ul.companyInfo{
    color: #999999;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
}
ul.companyInfo li{
    margin-left: 0;
}
.glyphicon{
    margin-right: 2%;
}

div.recommendJobs div span.sdate{
    line-height: 2;
    color: #999999;
    margin: 3% 2%;
    font-size: 13px;
}
div.recommendJobs  div span.title{
    color: #4c4c4c;
}
.QRcode{
   padding: 25px;
}