.userbox{
    background-color: #00b38a;
    margin-left: 85%;
    margin-right:10%;
    padding-top: 1%;
    margin-top:2%;
}
.form-controlcommon{
     display: block;
     width:50%;
     height: 35px;
     padding-top:6px;
     padding-right: 12px;
     padding-bottom:6px;
     font-size: 14px;
     line-height:1.42857143;
     color:#5d6368;
     background-color: #fff;
     background-image: none;
     border:1px solid #ccc;
     border-radius: 4px;
     margin-bottom:2%
 }

.secondform-controlcommon{
    display: block;
    width:60%;
    height: 30px;
    padding-top:6px;
    padding-right: 12px;
    padding-bottom:6px;
    font-size: 14px;
    line-height:1.42857143;
    color:#5d6368;
    background-color: #fff;
    background-image: none;
    border:1px solid #ccc;
    border-radius: 4px;
}

.date-controlcommon{
    display: block;
    width:45%;
    height: 35px;
    padding-top:6px;
    padding-right: 12px;
    padding-bottom:6px;
    font-size: 14px;
    line-height:1.42857143;
    color:#5d6368;
    background-color: #fff;
    background-image: none;
    border:1px solid #ccc;
    border-radius: 4px;
    margin-right: 20%;
    margin-left: 20%;
}
/*
.select-controlcommon{
       width:5%;
       height: 0px;
       padding-top:6px;
       padding-right: 12px;
       padding-bottom:6px;
       font-size: 14px;
       line-height:1.42857143;
       color:#5d6368;
       background-color: #fff;
       background-image: none;
       border:1px solid #ccc;
       border-radius: 4px;
       margin-right: 20%;
       margin-left: 20%;
   }
*/
.select-controlcommon{
    width:5%;
    height:0;
    padding-top:6px;
    padding-right: 12px;
    padding-bottom:6px;
    font-size: 14px;
    line-height:1.42857143;
    color:#5d6368;
    background-color: #fff;
    background-image: none;
    border:1px solid #ccc;
    border-radius: 4px;
}

.Xialabox{
    left: 15px;
    font-size: 14px;
    color: #5d6368;
}

.Edit-controlcommon{
    display: block;
    width:5%;
    height: 20px;
    padding-top:2px;
    padding-right: 12px;
    padding-bottom:6px;
    font-size: 12px;
    line-height:1.42857143;
    color: #5d6368;
    background-color: #fff;
    background-image: none;
    border:1px solid #8c8c8c;
    border-radius: 4px;
}






